<div class="modal fade" id="deleteObjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h4>Are you sure, you want to delete?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()" data-bs-dismiss="modal">Close</button>
                <form method="POST" id="confirmDelete">
                    <button type="submit" class="btn btn-primary">delete</button>
                </form>
            </div>
        </div>
    </div>
</div>