.main-logo {
    width: 75px;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.navbar {
    margin: 10px 0px;
}
.navbar-logo {
    width: 25px;
}

.current-directory-symbol {
    margin-right: 10px;
}

.directory-symbol {
    margin-right: 10px;
}

.directories {
    width: 100%;
}

.directory-link {
    padding: 2px 15px;;
}

.bookmarks {
    width: 100%;
}

.bookmark {
    border-bottom: solid 1px #E7E7E7;
}
.bookmark:last-child {
    border-bottom: none;
}

.bookmark-thumbnail {
    padding: 12px 0px 12px 15px;
    width: 145px;
}

.bookmark-link {
    padding: 12px 15px 12px 10px;
    vertical-align: top;
}

.thumbnail {
    height: 100px;
    margin-bottom: 0px;
}