@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (Bookmark bookmark in @Model.Bookmarks)
    {
        <div class="row">
            <a href="@bookmark.Url" target="_blank">
                <img class="thumbnail" alt="chargement de l'image..." src="@Model.Config.ThumbnailProviderUrl@bookmark.Url" />
            </a>
            @bookmark.Title
        </div>
    }
                }
</div>
